<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <header th:fragment="header">
            <ul>
                <li><a th:href="@{/}">Etusivu</a></li>
                <li><a th:href="@{/uutislista}">Uusimmat uutiset</a></li>
                <li><a th:href="@{/uutislista}">Viikon luetuimmat uutiset</a></li>
                <li><a th:href="@{/uutinen}">Uutinen (Kategoriat-placeholder)</a></li>
                <li><a th:href="@{/kirjautuminen}">Kirjaudu</a></li>
                <li><a th:href="@{/hallinta}">Hallintapaneeli</a></li>
            </ul>
        </header>

    </body>
</html>
