<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hallintapaneeli</title>
    </head>
    <body>

        <h2>Luo uusi uutinen</h2>

        <form method="POST" th:action="@{/hallinta}" name="uutinen">
            Otsikko:<br/>
            <input type="text" name="otsikko" required /><br/><br/>

            Ingressi:<br/>
            <input type="text" name="ingressi" required />
            <br/><br/>

            Leipäteksti:<br/>
            <textarea rows="8" cols="80" name="leipateksti" required ></textarea><br/><br/>

            Julkaisuaika:<br/>
            <input type="datetime-local" name="julkaisuaika" required /><br/><br/>

            Kirjoittaja(t):<br/>
            <input type="text" name="kirjoittajat" required /><br/><br/>

            Kategoria(t):<br/>
            <input type="text" name="kategoriat" required /><br/><br/>
            <input type="submit" value="Tallenna uutinen"/>
        </form><br /><br />


        <form method="POST" th:action="@{/hallinta/kuva}" enctype="multipart/form-data">
            Valitse haluttu uutinen listalta:<br />
            <select name="uutisId">
                <option th:each="uutinen : ${uutiset}" th:value="${uutinen.id}" 
                        th:text="${uutinen.otsikko}">Uutinen</option>
            </select><br /><br />

            Valitse haluttu kuva:<br/>
            <input type="file" name="kuva"/><br/><br/>
            <input type="submit" value="Lisää kuva uutiseen"/>
        </form>

        <br /><br /><a href="../">Palaa etusivulle (keskeneräistä uutista ei tallenneta!)</a>

    </body>
</html>
