<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hallintapaneeli</title>
    </head>
    <body>

        <h2>Luo uusi uutinen</h2>

        <form method="POST" th:action="@{/hallinta}" name="uutinen" enctype="multipart/form-data">
            Otsikko:<br/>
            <input type="text" name="otsikko" size="60" required /><br/><br/>

            Ingressi:<br/>
            <textarea rows="6" cols="80" name="ingressi" required ></textarea><br/><br/>

            Leipäteksti:<br/>
            <textarea rows="12" cols="80" name="leipateksti" required ></textarea><br/><br/>

            Julkaisuaika:<br/>
            <input type="datetime-local" name="julkaisuaika" required /><br/><br/>

            Kirjoittaja tai kirjoittajat pilkuilla eroteltuina:<br/>
            <input type="text" name="kirjoittajat" size="60" required /><br/><br/>

            Kategoria tai kategoriat pilkuilla eroteltuina:<br/>
            <input type="text" name="kategoriat" size="60" required />
            <input type="hidden" name="lisataanKategoriat" value="checked">
            <input type="checkbox" name="lisataanKategoriat" />Lisää kategoriat navigaatiopalkkiin<br/><br/>

            Valitse haluttu kuva:<br/>
            <input type="file" name="kuva" required/><br/><br/><br /><br />

            <input type="submit" value="Tallenna uutinen" style="width: 180px; font-size: 80%; background-color: lightcyan"/>
        </form><br /><br />
        
        <br /><br /><a href="../muokkaus">Muokkaa aiempia uutisia</a>

        <br /><br /><a href="../">Palaa etusivulle</a>

    </body>
</html>
