<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>

        <h2>Uutisista, hyvää iltaa</h2>

        <div>
            <ul>
                <li th:each="uutinen : ${uutiset}" th:text="${uutinen.otsikko}"></li>
            </ul>
        </div>


        <h3>Lisää uutiselle otsikko, hyvää iltaa</h3>

        <form method="POST" th:action="@{/}">
            <input type="text" name="otsikko"/>
            <input type="submit" value="Lisää"/>
        </form>

    </body>

</html>
