<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Kirjautuminen</title>
    </head>
    <body>

        <h2>Kirjaudu uutisten hallintaan</h2>
        (toimiva kombo - käyttäjätunnus: <i>admin</i>, salasana: <i>password</i>)<br /><br />

        <form method="POST" th:action="@{/kirjautuminen}">
            Käyttäjätunnus:<br />
            <input type="text" name="kayttajatunnus" id="kayttajatunnus"/><br />
            Salasana:<br />
            <input type="password" name="salasana" id="salasana"/><br />
            <input type="submit" value="Kirjaudu"/>
        </form>

        <br /><a href="../">Palaa etusivulle kirjautumatta</a>

    </body>

</html>
