<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Uutisia</title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>linkki-header</p>
        </header>


        <h2>Uutislistaus</h2>
        
        Lista joko julkaisuajan, edellisen viikon lukumäärien tai kategorian perusteella.

        <div>
            <ul>
                <li th:each="uutinen : ${uutiset}" th:text="${uutinen.otsikko}"></li>
            </ul>
        </div>

    </body>

</html>
