<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <!--<title th:text="${uutinen.otsikko}">Uutissivu</title>-->
        <title>Varatitle, kunnes kaikki toimii!!!</title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>linkki-header</p>
        </header>


        <h2>Uutisista, hyvää iltaa</h2>
        Tämä on yksittäisen uutisen sivu.<br />
        Mukaan listat luetuimmista ja uusimmista.<br />
        Ylälaidassa kategoriat!
        
<!--        <h4 th:text="${uutinen.otsikko}">Otsikko</h4>
        
        <img th:src="${uutinen.kuva}" />
        
        <h6 th:text="${uutinen.ingressi}">Ingressi</h6>
        <div th:text="${uutinen.leipateksti}">Leipateksti</div>-->

<!--        <div>
            <ul>
                <li th:each="uutinen : ${uutiset}" th:text="${uutinen.otsikko}"></li>
            </ul>
        </div>-->


    </body>

</html>
